.about {
  width: 80vw;
  margin: auto;
  max-width: 1100px;
}

.front {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.paoloContainer {
  display: flex;
  align-items: center;
}


.paolo {
  width: 50%;
  margin:auto;
  min-width: 250px;
}

.text {
  margin-bottom: 2rem;
}

.text h1 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

.text h3 {
  font-weight: 400;
  text-align: center;
}

.text p {
  font-weight: 300;
  text-align: justify;
}


.facts {
  margin-top: 2rem;
}

.facts h2 {
  font-weight: 400;
  width: 90%;
  margin: auto;
}

.factGrid {
  width: 90%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 768px) {
  .front {
    grid-template-columns: 1fr 2fr;
  }

  .paolo {
    width: 100%;
    min-width: 350px;
  }

  .text {
    margin-top: 2rem;
  }

  .text h1 {
    text-align: left;
  }

  .text h3 {
    text-align: left;
  }

  .factGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}