.container {
  height: 10vh;
  opacity: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* left: 50%; */
  right: 45%;
  bottom: 20%;
  transition: opacity .3s;
  cursor: pointer;
}

.container p {
  text-align: center;
  display: inline;
  margin: 0 auto 4px;
}

.hide {
  opacity: 0 !important;
  /* display: none; */
  cursor: default;
}

.arrow{
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 100% { 
    transform: translateY(0);
  }
  50% { 
    transform: translateY(-10px);
  }
}
