.card {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
}

.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.emoji {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.title {
  font-weight: 400;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.text {
  font-weight: 300;
  margin: 1rem;
}
/* 
.footer {
  display: grid;
  grid-template-columns: 15% 70% 15%;
} */
