/* 

.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ 
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}




*/
.front {
  height: 95vh;
  margin-bottom: 0;
}


.projects{
  /* background-color: rgb(222, 222, 253); */
  width: 100vw;
  height: 100vh;
}

.projectsContent {
  width: 80vw;
  max-width: 1100px;
  margin: auto;
}

.projects h2 {
  margin-left: 2rem;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 40px;
}

.codeGrid {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 1rem
}


.intro {
  font-weight: 200;
  max-width: 40%;
  font-size: 18px;
  /* min-width: 40rem; */
  line-height: var(--line-height-loose);
}

.main {
  margin-bottom: 3rem;
  background-color: white;
}
