/* 

.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ 
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}




*/
.front {
  height: 95vh;
  margin-bottom: 0;
}

.reminder {
  height: 10vh;
  opacity: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.arrow{
   animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 100% { 
    transform: translateY(0);
  }
  50% { 
    transform: translateY(-10px);
  }
}



.codeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 1rem
}


.intro {
  font-weight: 200;
  max-width: 40%;
  font-size: 18px;
  /* min-width: 40rem; */
  line-height: var(--line-height-loose);
}

.main {
  margin-bottom: 3rem;
  background-color: white;
}

.projectContainer {
  margin: .5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 8fr;
}

.hint {
  font-style: italic;
  font-size: 15px;
}

.projectList {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 1fr 30px 7fr 4fr ;
}